[data-rs-theme="braveManagerTheme-light"],
[data-rs-theme="braveManagerTheme-dark"] {
	--rs-font-family-display: Inter, sans-serif;
	--rs-font-family-body: Inter, sans-serif;
	--rs-font-weight-regular: 400;
	--rs-font-weight-medium: 500;
	--rs-font-weight-bold: 700;
	--rs-font-weight-heavy: 800;
	--rs-font-weight-black: 900;
	--rs-font-size-display-1: 40px;
	--rs-line-height-display-1: 48px;
	--rs-font-family-display-1: var(--rs-font-family-display);
	--rs-font-weight-display-1: var(--rs-font-weight-heavy);
	--rs-font-size-display-1-m: 64px;
	--rs-line-height-display-1-m: 76px;
	--rs-font-family-display-1-m: var(--rs-font-family-display);
	--rs-font-weight-display-1-m: var(--rs-font-weight-heavy);
	--rs-font-size-display-1-l: 84px;
	--rs-line-height-display-1-l: 96px;
	--rs-font-family-display-1-l: var(--rs-font-family-display);
	--rs-font-weight-display-1-l: var(--rs-font-weight-heavy);
	--rs-font-size-display-1-xl: 96px;
	--rs-line-height-display-1-xl: 112px;
	--rs-font-family-display-1-xl: var(--rs-font-family-display);
	--rs-font-weight-display-1-xl: var(--rs-font-weight-heavy);
	--rs-font-size-display-2: 36px;
	--rs-line-height-display-2: 44px;
	--rs-font-family-display-2: var(--rs-font-family-display);
	--rs-font-weight-display-2: var(--rs-font-weight-heavy);
	--rs-font-size-display-2-m: 48px;
	--rs-line-height-display-2-m: 56px;
	--rs-font-family-display-2-m: var(--rs-font-family-display);
	--rs-font-weight-display-2-m: var(--rs-font-weight-heavy);
	--rs-font-size-display-2-l: 56px;
	--rs-line-height-display-2-l: 64px;
	--rs-font-family-display-2-l: var(--rs-font-family-display);
	--rs-font-weight-display-2-l: var(--rs-font-weight-heavy);
	--rs-font-size-display-2-xl: 64px;
	--rs-line-height-display-2-xl: 72px;
	--rs-font-family-display-2-xl: var(--rs-font-family-display);
	--rs-font-weight-display-2-xl: var(--rs-font-weight-heavy);
	--rs-font-size-display-3: 32px;
	--rs-line-height-display-3: 36px;
	--rs-font-family-display-3: var(--rs-font-family-display);
	--rs-font-weight-display-3: var(--rs-font-weight-heavy);
	--rs-font-size-display-3-m: 36px;
	--rs-line-height-display-3-m: 48px;
	--rs-font-family-display-3-m: var(--rs-font-family-display);
	--rs-font-weight-display-3-m: var(--rs-font-weight-heavy);
	--rs-font-size-display-3-l: 44px;
	--rs-line-height-display-3-l: 52px;
	--rs-font-family-display-3-l: var(--rs-font-family-display);
	--rs-font-weight-display-3-l: var(--rs-font-weight-heavy);
	--rs-font-size-display-3-xl: 48px;
	--rs-line-height-display-3-xl: 56px;
	--rs-font-family-display-3-xl: var(--rs-font-family-display);
	--rs-font-weight-display-3-xl: var(--rs-font-weight-heavy);
	--rs-font-size-title-1: 24px;
	--rs-line-height-title-1: 32px;
	--rs-font-family-title-1: var(--rs-font-family-body);
	--rs-font-weight-title-1: var(--rs-font-weight-bold);
	--rs-font-size-title-1-m: 24px;
	--rs-line-height-title-1-m: 32px;
	--rs-font-family-title-1-m: var(--rs-font-family-body);
	--rs-font-weight-title-1-m: var(--rs-font-weight-bold);
	--rs-font-size-title-1-l: 32px;
	--rs-line-height-title-1-l: 40px;
	--rs-font-family-title-1-l: var(--rs-font-family-body);
	--rs-font-weight-title-1-l: var(--rs-font-weight-bold);
	--rs-font-size-title-1-xl: 32px;
	--rs-line-height-title-1-xl: 40px;
	--rs-font-family-title-1-xl: var(--rs-font-family-body);
	--rs-font-weight-title-1-xl: var(--rs-font-weight-bold);
	--rs-font-size-title-2: 20px;
	--rs-line-height-title-2: 28px;
	--rs-font-family-title-2: var(--rs-font-family-body);
	--rs-font-weight-title-2: var(--rs-font-weight-bold);
	--rs-font-size-title-2-m: 20px;
	--rs-line-height-title-2-m: 28px;
	--rs-font-family-title-2-m: var(--rs-font-family-body);
	--rs-font-weight-title-2-m: var(--rs-font-weight-bold);
	--rs-font-size-title-2-l: 24px;
	--rs-line-height-title-2-l: 32px;
	--rs-font-family-title-2-l: var(--rs-font-family-body);
	--rs-font-weight-title-2-l: var(--rs-font-weight-bold);
	--rs-font-size-title-2-xl: 24px;
	--rs-line-height-title-2-xl: 32px;
	--rs-font-family-title-2-xl: var(--rs-font-family-body);
	--rs-font-weight-title-2-xl: var(--rs-font-weight-bold);
	--rs-font-size-title-3: 18px;
	--rs-line-height-title-3: 24px;
	--rs-font-family-title-3: var(--rs-font-family-body);
	--rs-font-weight-title-3: var(--rs-font-weight-bold);
	--rs-font-size-title-3-m: 18px;
	--rs-line-height-title-3-m: 24px;
	--rs-font-family-title-3-m: var(--rs-font-family-body);
	--rs-font-weight-title-3-m: var(--rs-font-weight-bold);
	--rs-font-size-title-3-l: 20px;
	--rs-line-height-title-3-l: 28px;
	--rs-font-family-title-3-l: var(--rs-font-family-body);
	--rs-font-weight-title-3-l: var(--rs-font-weight-bold);
	--rs-font-size-title-3-xl: 20px;
	--rs-line-height-title-3-xl: 28px;
	--rs-font-family-title-3-xl: var(--rs-font-family-body);
	--rs-font-weight-title-3-xl: var(--rs-font-weight-bold);
	--rs-font-size-featured-1: 24px;
	--rs-line-height-featured-1: 32px;
	--rs-font-family-featured-1: var(--rs-font-family-display);
	--rs-font-weight-featured-1: var(--rs-font-weight-regular);
	--rs-font-size-featured-1-m: 24px;
	--rs-line-height-featured-1-m: 32px;
	--rs-font-family-featured-1-m: var(--rs-font-family-display);
	--rs-font-weight-featured-1-m: var(--rs-font-weight-regular);
	--rs-font-size-featured-1-l: 32px;
	--rs-line-height-featured-1-l: 40px;
	--rs-font-family-featured-1-l: var(--rs-font-family-display);
	--rs-font-weight-featured-1-l: var(--rs-font-weight-regular);
	--rs-font-size-featured-1-xl: 32px;
	--rs-line-height-featured-1-xl: 40px;
	--rs-font-family-featured-1-xl: var(--rs-font-family-display);
	--rs-font-weight-featured-1-xl: var(--rs-font-weight-regular);
	--rs-font-size-featured-2: 20px;
	--rs-line-height-featured-2: 28px;
	--rs-font-family-featured-2: var(--rs-font-family-display);
	--rs-font-weight-featured-2: var(--rs-font-weight-regular);
	--rs-font-size-featured-2-m: 20px;
	--rs-line-height-featured-2-m: 28px;
	--rs-font-family-featured-2-m: var(--rs-font-family-display);
	--rs-font-weight-featured-2-m: var(--rs-font-weight-regular);
	--rs-font-size-featured-2-l: 24px;
	--rs-line-height-featured-2-l: 32px;
	--rs-font-family-featured-2-l: var(--rs-font-family-display);
	--rs-font-weight-featured-2-l: var(--rs-font-weight-regular);
	--rs-font-size-featured-2-xl: 24px;
	--rs-line-height-featured-2-xl: 32px;
	--rs-font-family-featured-2-xl: var(--rs-font-family-display);
	--rs-font-weight-featured-2-xl: var(--rs-font-weight-regular);
	--rs-font-size-featured-3: 18px;
	--rs-line-height-featured-3: 24px;
	--rs-font-family-featured-3: var(--rs-font-family-display);
	--rs-font-weight-featured-3: var(--rs-font-weight-regular);
	--rs-font-size-featured-3-m: 18px;
	--rs-line-height-featured-3-m: 24px;
	--rs-font-family-featured-3-m: var(--rs-font-family-display);
	--rs-font-weight-featured-3-m: var(--rs-font-weight-regular);
	--rs-font-size-featured-3-l: 20px;
	--rs-line-height-featured-3-l: 28px;
	--rs-font-family-featured-3-l: var(--rs-font-family-display);
	--rs-font-weight-featured-3-l: var(--rs-font-weight-regular);
	--rs-font-size-featured-3-xl: 20px;
	--rs-line-height-featured-3-xl: 28px;
	--rs-font-family-featured-3-xl: var(--rs-font-family-display);
	--rs-font-weight-featured-3-xl: var(--rs-font-weight-regular);
	--rs-font-size-body-strong-1: 16px;
	--rs-line-height-body-strong-1: 24px;
	--rs-font-family-body-strong-1: var(--rs-font-family-body);
	--rs-font-weight-body-strong-1: var(--rs-font-weight-bold);
	--rs-font-size-body-strong-1-m: 16px;
	--rs-line-height-body-strong-1-m: 24px;
	--rs-font-family-body-strong-1-m: var(--rs-font-family-body);
	--rs-font-weight-body-strong-1-m: var(--rs-font-weight-bold);
	--rs-font-size-body-strong-1-l: 16px;
	--rs-line-height-body-strong-1-l: 24px;
	--rs-font-family-body-strong-1-l: var(--rs-font-family-body);
	--rs-font-weight-body-strong-1-l: var(--rs-font-weight-bold);
	--rs-font-size-body-strong-1-xl: 16px;
	--rs-line-height-body-strong-1-xl: 24px;
	--rs-font-family-body-strong-1-xl: var(--rs-font-family-body);
	--rs-font-weight-body-strong-1-xl: var(--rs-font-weight-bold);
	--rs-font-size-body-medium-1: 16px;
	--rs-line-height-body-medium-1: 24px;
	--rs-font-family-body-medium-1: var(--rs-font-family-body);
	--rs-font-weight-body-medium-1: var(--rs-font-weight-medium);
	--rs-font-size-body-medium-1-m: 16px;
	--rs-line-height-body-medium-1-m: 24px;
	--rs-font-family-body-medium-1-m: var(--rs-font-family-body);
	--rs-font-weight-body-medium-1-m: var(--rs-font-weight-medium);
	--rs-font-size-body-medium-1-l: 16px;
	--rs-line-height-body-medium-1-l: 24px;
	--rs-font-family-body-medium-1-l: var(--rs-font-family-body);
	--rs-font-weight-body-medium-1-l: var(--rs-font-weight-medium);
	--rs-font-size-body-medium-1-xl: 16px;
	--rs-line-height-body-medium-1-xl: 24px;
	--rs-font-family-body-medium-1-xl: var(--rs-font-family-body);
	--rs-font-weight-body-medium-1-xl: var(--rs-font-weight-medium);
	--rs-font-size-body-1: 16px;
	--rs-line-height-body-1: 24px;
	--rs-font-family-body-1: var(--rs-font-family-body);
	--rs-font-weight-body-1: var(--rs-font-weight-regular);
	--rs-font-size-body-1-m: 16px;
	--rs-line-height-body-1-m: 24px;
	--rs-font-family-body-1-m: var(--rs-font-family-body);
	--rs-font-weight-body-1-m: var(--rs-font-weight-regular);
	--rs-font-size-body-1-l: 16px;
	--rs-line-height-body-1-l: 24px;
	--rs-font-family-body-1-l: var(--rs-font-family-body);
	--rs-font-weight-body-1-l: var(--rs-font-weight-regular);
	--rs-font-size-body-1-xl: 16px;
	--rs-line-height-body-1-xl: 24px;
	--rs-font-family-body-1-xl: var(--rs-font-family-body);
	--rs-font-weight-body-1-xl: var(--rs-font-weight-regular);
	--rs-font-size-body-strong-2: 14px;
	--rs-line-height-body-strong-2: 20px;
	--rs-font-family-body-strong-2: var(--rs-font-family-body);
	--rs-font-weight-body-strong-2: var(--rs-font-weight-bold);
	--rs-font-size-body-strong-2-m: 14px;
	--rs-line-height-body-strong-2-m: 20px;
	--rs-font-family-body-strong-2-m: var(--rs-font-family-body);
	--rs-font-weight-body-strong-2-m: var(--rs-font-weight-bold);
	--rs-font-size-body-strong-2-l: 14px;
	--rs-line-height-body-strong-2-l: 20px;
	--rs-font-family-body-strong-2-l: var(--rs-font-family-body);
	--rs-font-weight-body-strong-2-l: var(--rs-font-weight-bold);
	--rs-font-size-body-strong-2-xl: 14px;
	--rs-line-height-body-strong-2-xl: 20px;
	--rs-font-family-body-strong-2-xl: var(--rs-font-family-body);
	--rs-font-weight-body-strong-2-xl: var(--rs-font-weight-bold);
	--rs-font-size-body-medium-2: 14px;
	--rs-line-height-body-medium-2: 20px;
	--rs-font-family-body-medium-2: var(--rs-font-family-body);
	--rs-font-weight-body-medium-2: var(--rs-font-weight-medium);
	--rs-font-size-body-medium-2-m: 14px;
	--rs-line-height-body-medium-2-m: 20px;
	--rs-font-family-body-medium-2-m: var(--rs-font-family-body);
	--rs-font-weight-body-medium-2-m: var(--rs-font-weight-medium);
	--rs-font-size-body-medium-2-l: 14px;
	--rs-line-height-body-medium-2-l: 20px;
	--rs-font-family-body-medium-2-l: var(--rs-font-family-body);
	--rs-font-weight-body-medium-2-l: var(--rs-font-weight-medium);
	--rs-font-size-body-medium-2-xl: 14px;
	--rs-line-height-body-medium-2-xl: 20px;
	--rs-font-family-body-medium-2-xl: var(--rs-font-family-body);
	--rs-font-weight-body-medium-2-xl: var(--rs-font-weight-medium);
	--rs-font-size-body-2: 14px;
	--rs-line-height-body-2: 20px;
	--rs-font-family-body-2: var(--rs-font-family-body);
	--rs-font-weight-body-2: var(--rs-font-weight-regular);
	--rs-font-size-body-2-m: 14px;
	--rs-line-height-body-2-m: 20px;
	--rs-font-family-body-2-m: var(--rs-font-family-body);
	--rs-font-weight-body-2-m: var(--rs-font-weight-regular);
	--rs-font-size-body-2-l: 14px;
	--rs-line-height-body-2-l: 20px;
	--rs-font-family-body-2-l: var(--rs-font-family-body);
	--rs-font-weight-body-2-l: var(--rs-font-weight-regular);
	--rs-font-size-body-2-xl: 14px;
	--rs-line-height-body-2-xl: 20px;
	--rs-font-family-body-2-xl: var(--rs-font-family-body);
	--rs-font-weight-body-2-xl: var(--rs-font-weight-regular);
	--rs-font-size-caption-1: 12px;
	--rs-line-height-caption-1: 16px;
	--rs-font-family-caption-1: var(--rs-font-family-body);
	--rs-font-weight-caption-1: var(--rs-font-weight-regular);
	--rs-font-size-caption-1-m: 12px;
	--rs-line-height-caption-1-m: 16px;
	--rs-font-family-caption-1-m: var(--rs-font-family-body);
	--rs-font-weight-caption-1-m: var(--rs-font-weight-regular);
	--rs-font-size-caption-1-l: 12px;
	--rs-line-height-caption-1-l: 16px;
	--rs-font-family-caption-1-l: var(--rs-font-family-body);
	--rs-font-weight-caption-1-l: var(--rs-font-weight-regular);
	--rs-font-size-caption-1-xl: 12px;
	--rs-line-height-caption-1-xl: 16px;
	--rs-font-family-caption-1-xl: var(--rs-font-family-body);
	--rs-font-weight-caption-1-xl: var(--rs-font-weight-regular);
	--rs-font-size-caption-2: 10px;
	--rs-line-height-caption-2: 16px;
	--rs-font-family-caption-2: var(--rs-font-family-body);
	--rs-font-weight-caption-2: var(--rs-font-weight-bold);
	--rs-font-size-caption-2-m: 10px;
	--rs-line-height-caption-2-m: 16px;
	--rs-font-family-caption-2-m: var(--rs-font-family-body);
	--rs-font-weight-caption-2-m: var(--rs-font-weight-bold);
	--rs-font-size-caption-2-l: 10px;
	--rs-line-height-caption-2-l: 16px;
	--rs-font-family-caption-2-l: var(--rs-font-family-body);
	--rs-font-weight-caption-2-l: var(--rs-font-weight-bold);
	--rs-font-size-caption-2-xl: 10px;
	--rs-line-height-caption-2-xl: 16px;
	--rs-font-family-caption-2-xl: var(--rs-font-family-body);
	--rs-font-weight-caption-2-xl: var(--rs-font-weight-bold);
	--rs-unit-base: 4px;
	--rs-unit-radius-small: 6px;
	--rs-unit-radius-medium: 8px;
	--rs-unit-radius-large: 12px;
	--rs-unit-x1: 4px;
	--rs-unit-x2: 8px;
	--rs-unit-x3: 12px;
	--rs-unit-x4: 16px;
	--rs-unit-x5: 20px;
	--rs-unit-x6: 24px;
	--rs-unit-x7: 28px;
	--rs-unit-x8: 32px;
	--rs-unit-x9: 36px;
	--rs-unit-x10: 40px;
	--rs-color-foreground-neutral-faded: #52555D;
	--rs-color-foreground-disabled: #D2D5DB;
	--rs-color-foreground-primary: #FF6633;
	--rs-color-foreground-positive: #118D2E;
	--rs-color-foreground-critical: #CD1C28;
	--rs-color-background-neutral: #E9E9EB;
	--rs-color-background-neutral-faded: #F4F5F7;
	--rs-color-background-neutral-highlighted: #D7D8DB;
	--rs-color-background-disabled: #F0F0F2;
	--rs-color-background-disabled-faded: #F4F5F7;
	--rs-color-background-primary: #FF6633;
	--rs-color-background-primary-faded: #FDEDE7;
	--rs-color-background-primary-highlighted: #FF6633;
	--rs-color-background-positive: #118D2E;
	--rs-color-background-positive-faded: #E6FEEC;
	--rs-color-background-positive-highlighted: #009924;
	--rs-color-background-critical: #DA0000;
	--rs-color-background-critical-faded: #FDE7E9;
	--rs-color-background-critical-highlighted: #E93535;
	--rs-color-border-neutral: #CFD0D3;
	--rs-color-border-neutral-faded: #E5E7EA;
	--rs-color-border-disabled: #E5E7EA;
	--rs-color-border-primary: #FF6633;
	--rs-color-border-primary-faded: #FBDBD0;
	--rs-color-border-positive: #098024;
	--rs-color-border-positive-faded: #C7EDCD;
	--rs-color-border-critical: #CB101D;
	--rs-color-border-critical-faded: #FBD0D4;
	--rs-color-background-page: #FFFFFF;
	--rs-color-background-page-faded: #F8F8F8;
	--rs-color-background-base: #FFFFFF;
	--rs-color-black: #000000;
	--rs-color-white: #FFFFFF;
	--rs-color-on-background-neutral: #000;
	--rs-color-rgb-background-neutral: 233, 233, 235;
	--rs-color-rgb-background-neutral-faded: 244, 245, 247;
	--rs-color-on-background-neutral-highlighted: #000;
	--rs-color-rgb-background-neutral-highlighted: 215, 216, 219;
	--rs-color-rgb-background-disabled: 240, 240, 242;
	--rs-color-rgb-background-disabled-faded: 244, 245, 247;
	--rs-color-on-background-primary: #fff;
	--rs-color-rgb-background-primary: 255, 102, 51;
	--rs-color-rgb-background-primary-faded: 253, 237, 231;
	--rs-color-on-background-primary-highlighted: #fff;
	--rs-color-rgb-background-primary-highlighted: 255, 102, 51;
	--rs-color-on-background-positive: #fff;
	--rs-color-rgb-background-positive: 17, 141, 46;
	--rs-color-rgb-background-positive-faded: 230, 254, 236;
	--rs-color-on-background-positive-highlighted: #fff;
	--rs-color-rgb-background-positive-highlighted: 0, 153, 36;
	--rs-color-on-background-critical: #fff;
	--rs-color-rgb-background-critical: 218, 0, 0;
	--rs-color-rgb-background-critical-faded: 253, 231, 233;
	--rs-color-on-background-critical-highlighted: #fff;
	--rs-color-rgb-background-critical-highlighted: 233, 53, 53;
	--rs-color-rgb-background-page: 255, 255, 255;
	--rs-color-rgb-background-page-faded: 248, 248, 248;
	--rs-color-rgb-background-base: 255, 255, 255;
	--rs-color-rgb-black: 0, 0, 0;
	--rs-color-rgb-white: 255, 255, 255;
	--rs-duration-fast: 150ms;
	--rs-duration-medium: 250ms;
	--rs-duration-slow: 300ms;
	--rs-easing-standard: cubic-bezier(0.4, 0, 0.2, 1);
	--rs-easing-accelerate: cubic-bezier(0.4, 0, 1, 1);
	--rs-easing-decelerate: cubic-bezier(0, 0, 0.2, 1);
	--rs-shadow-base: 0px 2px 4px rgba(0, 0, 0, 0.12);
	--rs-shadow-elevated: 0px 15px 25px rgba(0, 0, 0, 0.07), 0px 5px 10px rgba(0, 0, 0, 0.05);
}

[data-rs-theme="braveManagerTheme-light"] {
	--rs-color-foreground-neutral: #14171F;
	--rs-color-background-elevated: #FFFFFF;
	--rs-color-rgb-background-elevated: 255, 255, 255;
	color-scheme: light;
}

[data-rs-theme="braveManagerTheme-dark"] {
	--rs-color-foreground-neutral: #FFFFFF;
	--rs-color-background-elevated: #14171F;
	--rs-color-rgb-background-elevated: 20, 23, 31;
	color-scheme: dark;
}
